<h1>Restaurants</h1>
<% @restaurants.each do |restaurant| %>
<h5><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
<p><%= restaurant.address %><br><%= restaurant.phone_number %></p>
<% end %>
